/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: #f0f0f0; */
    background: linear-gradient(-45deg, #f3e9e8, #96b9d9);
    margin: 0;
    flex-direction: column;
}

#game-container {
    text-align: center;
    /* background-color: #48426d; */
    background-color: #ffffff;
    /* background: linear-gradient(135deg, #ffe998, #57370d); */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    gap: 10px;
    margin: 20px 0;
}

.cell {
    width: 60px;
    height: 60px;
    background-color: #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    
}

.cell.on {
    background-color: #ffba00;
    
    /* background-color: #ffc868; */
    
}

.cell.hint {
    /* background-color: #00f; */
    background: linear-gradient(135deg, #112d60, #b6c0c5);
    opacity: 0.7;
    animation: blink 1s infinite alternate;
}


@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

#moves, #hints {
    margin-top: 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

#instruction-button {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#instruction-button img{
    width: 40px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
}

    

.close-button {
    /* color: #aaa; */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


#alert-modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Background color with transparency */
}

    .top-sec{
        /* border: 1px solid red; */
        background-color: #ef4b4c;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 10px;
        
    }

    .top-sec img {
        width: 90px;
    }

#alert-modal .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 10px;
    border: none;
    justify-content: center;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
}

.alert-close-button
 {
    color: #ef4b4c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    
}

/* #alert-ok-button{
    color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: auto;
    background-color: transparent;

} */

.alert-close-button:hover,
.alert-close-button:focus,
#alert-ok-button:hover,
#alert-ok-button:focus {
    color: #000;
    text-decoration: none;
}

 /* #hint-button{
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;

} */

.botm-btn{
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    padding: 10px;
    
}


/* #hint-button img{
    width: 40px;
} */

.game-data{
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    gap: 30px;
    border-radius: 10px;
}




h1 {
    font-weight: 900;
    /* Use text-fill-color for gradients on text */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(40deg, #112d60, #ffffff, #ffba00);
}


.g-c-spacer{
    /* border: 1px solid red; */
    background: linear-gradient(135deg, #ffe998, #57370d);
    /* color: #ffffff; */
    border-radius: 10px;
    padding: 20px;
    width: auto;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}





.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}


.noselect {
 width: 150px;
 height: 50px;
 cursor: pointer;
 display: flex;
 align-items: center;
 background: red;
 border: none;
 border-radius: 5px;
 box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
 background: #e62222;

 justify-content: center;
}

.noselect, .noselect span {
 transition: 200ms;
}

.noselect .text {
 transform: translateX(0px);
 color: white;
 font-weight: bold;
 text-align: center;
 justify-content: center;
}

.noselect .icon {
 position: absolute;
 border-left: 1px solid #c41b1b;
 transform: translateX(50px);
 height: 40px;
 width: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.noselect svg {
 width: 15px;
 fill: #eee;
}

.noselect:hover {
 background: #ff3636;
}

.noselect:hover .text {
 color: transparent;
}

.noselect:hover .icon {
 width: 150px;
 border-left: none;
 transform: translateX(0);
}

.noselect:focus {
 outline: none;
}

.noselect:active .icon svg {
 transform: scale(0.8);
}



.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  height: 34px;
  width: 112px;
  border: none;
  background: #ff362b34;
  border-radius: 20px;
  cursor: pointer;
}

.lable {
  line-height: 20px;
  font-size: 17px;
  color: #FF342B;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.reset:hover {
  background: #ff362b52;
}

.reset:hover .svg-icon {
  animation: spin 1.5s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}












.social-links,.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  background: white;
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
}

.social-btn svg {
  height: 24px;
  width: 24px;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  margin-left: 5px;
}

.social-btn:hover {
  width: 150px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: 80px;
}

#twitter svg {
  fill: #1da1f2;
}

#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #333;
}






.hint-btn {
 width: 130px;
 height: 40px;
 font-size: 1.1em;
 cursor: pointer;
 background-color: #171717;
 color: #fff;
 border: none;
 border-radius: 5px;
 transition: all .4s;
}

.hint-btn:hover {
 border-radius: 5px;
 transform: translateY(-10px);
 box-shadow: 0 7px 0 -2px #f85959,
  0 15px 0 -4px #39a2db,
  0 16px 10px -3px #39a2db;
}

.hint-btn:active {
 transition: all 0.2s;
 transform: translateY(-5px);
 box-shadow: 0 2px 0 -2px #f85959,
  0 8px 0 -4px #39a2db,
  0 12px 10px -3px #39a2db;
}



.heading-timer{
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

#timer{
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
